mixin loader(params = {})
  -
    const styles = require("@components/Loader/Loader.scss.json");

    const { createClassNames } = require("@utilities/pugParser");
    const { 
      className, 
      id,
      style, 
      args, 
      size = 'default', 
      centered, 
      fixed
    } = params;

    const classNames = createClassNames('loader', {
      size,
      type: {
        centered,
        fixed
      }
    });

  div(
    class = [
      styles.element,
      styles[`size-${size}`],
      className,
    ],
    id = id,
    style = style
  )&attributes(args)
    div(class = styles.content)
      div
      div
      div