mixin loader(params = {})
	-
		const { createTagClassNames, loadStyle } = require("@utilities/pugComponents");
		const styles = loadStyle('Loader');

		const { 
			id,
			className, 
			style, 
			attr,

			size = 'default', 
			centered, 
			fixed
		} = params;

		const classNames = createTagClassNames('Loader', {
			size,
			type: {
				centered,
				fixed
			}
		});

	div(
		id = id,
		class = [
			styles.element,
			classNames,
			className,
		],
		style = style
	)&attributes(args)
		div(class = styles.content)
			div
			div
			div