node_modules/
.tscache
.vscode
*.log
*.lock
.idea

# Config
.stylelintrc

# Generated
doc
log
src/favicons/
!src/favicons/.gitkeep
yarn-error.log
dist
src/components/**/*.scss.json

# Maps
*.map.*
*.map
