mixin button(params = {})
	-
		const { createTagClassNames, createStyle } = require("@utilities/pug");
		const styles = createStyle('Button');

		const { 
			id,
			className, 
			style, 
			attr,

			size = 'default', 
			color = 'primary',
			tag = 'button',
			data = {}
		} = params;

		const classNames = createTagClassNames({
			color,
			size
		});

	#{tag}(
		class = [
			className,
			styles(classNames),
			styles('element')
		],
		style = style,
		href = tag === 'a' && data.href,
		type = tag === 'button' && 'button'
	)&attributes(attr)

		block