mixin button(params = {})
	-
		const { createTagClassNames, loadStyle } = require("@utilities/pugComponents");
		const styles = loadStyle('Button');

		const { 
			id,
			className, 
			style, 
			attr,

			size = 'default', 
			color = 'primary',
			tag = 'button',
			data = {}
		} = params;

		const classNames = createTagClassNames('Button', {
			color,
			size
		});

	#{tag}(
		class = [
			className,
			classNames,
			styles.element
		],
		style = style,
		href = tag === 'a' && data.href,
		type = tag === 'button' && 'button'
	)&attributes(attr)

		block