mixin burger(params = {})
	-
		const { loadStyle } = require("@utilities/pugComponents");
		const styles = loadStyle('Burger');

		const { 
			id,
			className, 
			style, 
			attr,

			data = {
				id: ''
			}
		} = params;

	button.click-expand(
		id = id,
		class= [
			className,
			styles.element,
		],
		type="button",
		data-toggler= data.id
		style= style
	)
		div(class = [styles.plank])
		div(class = [styles.plank])
		div(class = [styles.plank])