.burger {
	display: inline-block;
	position: relative;
	width: 30px;
	height: 24px;

	&:hover,
	&:active {
		color: color('primary');
	}

	&.isActive {
		span {
			transform: translate3d(0, 10px, 0) rotate(45deg);

			&:before {
				transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
				opacity: 0;
			}

			&:after {
				transform: translate3d(0, -20px, 0) rotate(-90deg);
			}
		}
	}

	span {
		display: block;
		top: 0;

		&:before,
		&:after {
			content: '';
			display: block;
		}

		&:before {
			top: 10px;
			transition-property: transform, opacity;
			transition-duration: 0.15s;
			transition-timing-function: ease;
		}

		&:after {
			top: 20px;
		}
	}

	span {
		&,
		&:before,
		&:after {
			position: absolute;
			width: 100%;
			height: 4px;
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: ease;
			border-radius: 4px;
			background-color: color('black');
		}
	}
}
