include ~@components/Modal/Modal

+modal
  +header
    | Template header

  +body
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.
    p
      | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores placeat, dignissimos omnis doloremque ipsum quibusdam dolor quasi. Corrupti, sed, quasi vel quisquam distinctio tempora accusantium tempore, inventore eum amet architecto.