.element {
	display: flex;
	align-items: center;
	padding: 30px 0;
	background-position: center center;
	background-size: cover;
}

.title {
	font-size: 46px;
}

.subtitle {
	margin-top: 20px;
	font-size: 18px;
}

.body {
	margin-top: 65px;
}

// Types
.type {
	// Expand to match minimum website height minus header full size
	&-fullscreen {
		@include vh('min-height', '100vh - 66px');

		// Expand to match minimum website height minus header
		&--top {
			@include vh('min-height', '100vh - 112px');
		}
	}
}

// Colors
.color {
	&-secondary {
		background-color: color('secondary');
	}
}
