include ~@components/Wrap/Wrap

mixin hero(params = {})
  -
    const { createTagClassNames, loadStyle } = require("@utilities/pugComponents");
    const styles = loadStyle('Hero');

    const { 
      attr,
      className, 
      style, 
      id, 

      data = {},
      fullscreen,
      top,
      color,
      background
    } = params;

    const classNames = createTagClassNames('Hero', {
      type: {
        fullscreen,
        'fullscreen--top': top
      },
      color
    });

    if (background) {
      style['background-image'] = `url(${require(`@images/${background}`)})`;
    }

  div(
    class = [
      className,
      classNames,
      styles.element,
    ]
    style = style
  )&attributes(attr)

    +wrap
      div(class = [styles.header])
        - const { header = {} } = data;

        if header.title
          #{top ? 'h1' : 'h2'}(class = [styles.title])
            = header.title

        if header.subtitle
          p(class = [styles.subtitle])
            = header.subtitle

      div(class = [styles.body])
        block

