include ~@components/Wrap/Wrap

mixin hero(params = {})
  -
    const styles = require("@components/Hero/Hero.scss.json");
    const { createClassNames } = require("@utilities/pugParser.ts");
    const { data = {}, className, fullscreen, top, color, style = {}, background } = params;

  //-   const classNames = createClassNames('hero', {
  //-     type: {
  //-       fullscreen,
  //-       top,
  //-     },
  //-     color
  //-   });

  //-   if (background) {
  //-     style['background-image'] = `url(${require(`@images/${background}`)})`;
  //-   }

  div(
    class = [
      className,
      styles.element,
      classNames,
    ]
    style = style
  )
    +wrap
      div(class = [styles.header])
        - const { header = {} } = data;

        if header.title
          #{top ? 'h1' : 'h2'}(class = [styles.title])
            = header.title

        if header.subtitle
          p(class = [styles.subtitle])
            = header.subtitle

      div(class = [styles.body])
        block

