mixin scrollable(params = {})
	-
		const { createTagClassNames, createStyle } = require("@utilities/pug");
		const styles = createStyle('Scrollable');

		const { 
			id,
			className, 
			style, 
			attr,

			shadow,
			color = 'white',
		} = params;

		const classNames = createTagClassNames({
			type: {
				shadow
			},
			color
		});

	div(
		class = [
			className,
			styles(classNames),
			styles('element')
		]
	)
		div(class = [styles('content')])
			div(class = [styles('inner')])
				block