include ~@components/Burger/Burger
include ~@components/Overlay/Overlay

mixin sidebarDrawer(params = {})
	-
		const { createTagClassNames, loadStyle } = require("@utilities/pugComponents");
		const styles = loadStyle('SidebarDrawer');

		const { 
			id,
			className, 
			style, 
			attr,

			data = {},
			position 
		} = params;

		const classNames = createTagClassNames('SidebarDrawer', {
			position
		});

	nav(
		class = [
			className,
			classNames,
			styles.element
		]
		data-sidebar-drawer= data.id
	)
		+overlay({
			className: styles.overlay,
			attr: {
				'data-sidebar-drawer-overlay': ''
			}
		})

		div(class = [styles.content])

			div(class = [styles.header])
				div(class = [styles.header__title])
					| Menu

				+burger({data: { id: data.id }, className: styles.header__button})

			div(class = [styles.body])
				div(class = [styles.body__inner])
					+scrollable({shadow: true})
						block

