@include responsive {
	@at-root .#{&}block {
		display: block !important;
	}

	@at-root .#{&}inline {
		display: inline !important;
	}

	@at-root .#{&}inline-block {
		display: inline-block !important;
	}

	@at-root .#{&}flex {
		display: flex !important;
	}

	@at-root .#{&}no-before:before {
		content: none !important;
	}

	@at-root .#{&}no-after:after {
		content: none !important;
	}

	@at-root .#{&}hide {
		display: none !important;
	}
}
