@include responsive {
	@at-root .#{&}no-margin {
		&-top {
			margin-top: 0 !important;
		}

		&-bottom {
			margin-bottom: 0 !important;
		}

		&-left {
			margin-left: 0 !important;
		}

		&-right {
			margin-right: 0 !important;
		}

		&-x {
			margin-right: 0 !important;
			margin-left: 0 !important;
		}

		&-y {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}
}
