//- mixin modal(params = {})
//-   -
//-     const { createTagClassNames } = require("@utilities/pugComponents");

//-     const { className, id, style, attr, size = 'default' } = params;

//-     const classNames = createTagClassNames('modal', {
//-       size
//-     });

//-     const content = {};

//-   mixin header
//-     - content.header = this.block;

//-   mixin body
//-     - content.body = this.block;

//-   block

//-   div.modal.modal--default(
//-     class= [
//-       className,
//-       classNames
//-     ],
//-     style= style,
//-     id = id
//-   )&attributes(attr)

//-     if content.header
//-       .modal__header
//-         - content.header()

//-     if content.body
//-       .modal__body
//-         - content.body()