include ~@components/SidebarDrawer/SidebarDrawer
include ~@components/Wrap/Wrap
include ~@components/Sticky/Sticky
include ~@components/Scrollable/Scrollable
include ~@components/Burger/Burger

mixin header(params = {})
  -
    const { createTagClassNames, createStyle } = require("@utilities/pugComponents");
    const styles = createStyle('Header');

    const { 
      id,
      className, 
      style, 
      attr,
    } = params;

    const classNames = createTagClassNames('Header', {
      position
    });

  header(class = [styles('wrapper')])
    +sticky

      div(class = [styles('header')])
        div(class = [styles('content')])
          +wrap
            +burger({data: { id: 'header'}})

  +sidebarDrawer({
    data: { id: 'header'},
    position: 'left'
  })
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem
    p
      | Lorem


