include ~@components/Wrap/Wrap

mixin footer(params = {})
  footer.footer
    +wrap 
      .row.space
        .col-12.md_col-4
          | Footer
        .col-12.md_col-4
          | Footer
        .col-12.md_col-4
          | Footer