mixin overlay(params = {})
  -
    const { createTagClassNames, createStyle } = require("@utilities/pugComponents");
    const styles = createStyle('Overlay');

    const { 
      id,
      className, 
      style, 
      attr, 

      data = {}, 
    } = params;

  div(
    id = id,
    class = [
      className,
      styles('element')
    ],
    style = style
  )&attributes(attr)