mixin scrollable(params = {})
  -
    const { createTagClassNames } = require("@utilities/pugComponents");

    const { 
      id,
      className,
      style,
      shadow,
      color = 'white',
    } = params;

    const classNames = createTagClassNames('Scrollable', {
      type: {
        shadow
      },
      color
    });

  .scrollable(
    class = [
      className,
      classNames
    ]
  )
    .scrollable__content
      .scrollable__inner
        block