mixin scrollable(params = {})
	-
		const { createTagClassNames, loadStyle } = require("@utilities/pugComponents");
		const styles = loadStyle('Scrollable');

		const { 
			id,
			className, 
			style, 
			attr,

			shadow,
			color = 'white',
		} = params;

		const classNames = createTagClassNames('Scrollable', {
			type: {
				shadow
			},
			color
		});

	div(
		class = [
			className,
			classNames,
			styles.element
		]
	)
		div(class = [styles.content])
			div(class = [styles.inner])
				block