mixin image(params = {})
  -
    const { createStyle } = require("@utilities/pugComponents");
    const styles = createStyle('Image');

    const { 
      id,
      className, 
      style, 
      attr,

      file = {},
      lazyload, 
    } = params;

  img(
    class= [
      className,
      styles('element'),
    ],
    src = require(`@images/${file.src}`),
    alt = file.alt,
    lazyload = lazyload && 'lazy'
  )