.element,
.inner,
.ghost {
	background: inherit;
}

.element {
	&:not(.isSticky) {
		.ghost {
			height: 0 !important;
		}
	}

	&.isSticky {
		.inner {
			@extend %fix-fixed;

			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}

.inner {
	z-index: index('sticky');

	.isScriptsDisabled & {
		position: sticky;
		top: 0;
		left: 0;
	}
}
